/* 
* bone: #ffffff
* teal: #25ced1
* mint: #40C9A2
* peach: #fceade
* naranja: #orange
* coral: #ea526f
* eggplant: #4a2545
* grey: #efefef
* light mint: #ecf8f8
* light yellow: #fffae3
* lavender: #f1e3f3
* magenta: #f20089
*charcoal: #424b54
*/

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 100%;
}
header {
  background-color: #2dc2bd;
  margin: 0px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 15px;
}

h1 {
  font-family: "Lucida Grande", sans-serif;
  font-size: 37px;
}
a:hover {
  text-decoration-line: underline;
}
nav a {
  color: white;
  font-size: 0.9em;
  margin: 10px;
}
img {
  width: 80px;
  border-style: solid;
  border-radius: 60%;
  border-width: 0.5px;
  border-color: #efefef;
}
.curls {
  width: 120px;
  height: 120px;
}
.twocee {
  background-color: #ecf8f8;
  display: flex;
  padding: 10px;
  height: 200px;
  margin: 0px;
}
.twotitle {
  background-color: #ecf8f8;
  padding: 20px 0px 0px 0px;
  font-family: "Cabin Sketch", cursive;
  color: #f20089;
  margin: 0px;
}
.threecee {
  background-color: #fffae3;
  display: flex;
  padding: 10px;
  height: 220px;
  margin: 0px;
}

.threetitle {
  background-color: #fffae3;
  padding: 20px 0px 0px 0px;
  margin: 0px;
  font-family: "Oleo Script", cursive;
  color: #f20089;
}
.fourcee {
  background-color: #f1e3f3;
  display: flex;
  padding: 10px;
  height: 200px;
  margin: 0px;
}
.fourtitle {
  background-color: #f1e3f3;
  padding: 20px 0px 0px 0px;
  margin: 0px;
  font-family: "Oleo Script", cursive;
  color: #f20089;
}

a {
  font-size: 11px;
  color: #4a2545;
  text-decoration: none;
  margin: 0px 50px 0px 50px;
  word-wrap: break-word;
}


hr.style-four {
  padding: 0;
  border: none;
  border-top: medium double #e76f51;
  color: #e76f51;
  text-align: center;
  margin: 0px;
  }
  hr.style-four:after {
  content: 'Designed by Kai Smith';
  display: inline-block;
  position: relative;
  font-size: -0.7em;
  padding: 0 0.25em;
  background: white;
  
  }
  hr.style-eight {
    overflow: visible;
    padding: 0;
    border: none;
    border-top: medium double #e76f51;
    color: white;
    text-align: center;
}
hr.style-eight:after {
    content: "KS Designs";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    font-family: Savoye LET;
    padding: 0 0.25em;
    background: #e76f51;
}
* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }
 html,
 body {
  height: 100%;
  position: relative;
 }
 .wrap {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; 
 }
 footer {
  position: absolute;
  bottom: 0;
  width: 100%;
 }

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
 
}


/* PRODUCT PAGE STYLING */

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product_image {
 height: 230px;
 width: auto;
 align-items: center;
 margin-top: 20px;
 border: none;
}
.product_title {
  color:#f20089;
  font-size: 19px;
  line-height: 1.6rem;
  margin: 10px 10px 10px 10px;
  text-align: center;
}
.product_info{
  text-align: center;
  line-height: 10px;
  color: #424b54;
  font-size: 17px;
  width: 100%;
  height: 50%;
}
.product_description {
  color: #424b54;
  text-align: justify;
  margin: 10px 30px 30px 30px;
}
.product_btn {
  background-color: #4a2545;
  color: white;
  font-weight: bold;
}


/* CURL STYLES PAGE STYLING */

.style_title{
  color: #f20089;
  font-size: 48px;
  font-family: cursive;
}
.style_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.style_images {
  margin-top: 20px;
  width: 160px;
  border-radius: 30px;
}
.style_name {
  color: #e76f51;
  width: 100%;
  text-align: center;
  font-size: 26px;
}
.style_directions {
  color: #424b54;
  text-align: justify;
  font-size: 20px;
  margin: 5px 20px 25px 20px;
}
span {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  color:#424b54; 
  line-height: 5rem;
  margin-left: 20px;
  font-size: 0.5rem;
}
.form_title {
  margin-top: 50px;
  color: #f20089;
}




/* BLOG PAGE STYLING */

.blog_images {
  margin-top: 40px;
  width: 200px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog_info {
  color:#4a2545;
  text-align: center;
  margin: 5px 0px;
}
.post_name {
  color: #e76f51;
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin: 20px 0px 0px 0px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
